/* Global Layout Set-up */
* 
{ 
  box-sizing: border-box;
}

html
{
  background: #2f2f2f;
}
  
body 
{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: #222;
}

/* Link Styles */
a 
{
  transition: all .5s;
  text-decoration: none;
  color: #2bade2;
}

a:hover
{
  color: white;
}

.card p a:hover
{
   color:black; 
}
/* Section Styles */
.main-nav 
{
  width: 100%;
  background: #2f2f2f;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav 
{
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name 
{
  display: none;
}

.nav li 
{
  padding: 5px 10px 10px 10px;
}

.nav a 
{
  transition: all .5s;
}

header 
{
  text-align: center;
  background: url(https://raw.githubusercontent.com/nathanLloydw/Web-development/master/resources/pokemonBackgroundFinal.png) no-repeat bottom right ;
  background-size: cover;
  overflow: hidden;
}

header .profile-image 
{
  margin-top: 100px;
  width: 300px;
  height: 225px;
}

.tag 
{
  color: #f3f6e2;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  text-shadow: black 0px 0px 10px;
} 

h1.tag.name 
{
    font-size: 38px;
}
p.tag.location 
{
    font-size: 20px;
}

.card 
{
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

ul.skills 
{
  padding: 0;
  text-align: center;
}

.skills li
{
  border-radius: 6px;
  display: inline-block;
  background: #029bd5;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) 
{
  background: #021f3d;
}

footer 
{
  background: #2f2f2f;
  width: 100%;
  min-height: 30px;
}

footer .copyright 
{
  top: -8px;
  font-size: .75em;
  text-align: center;
  color:#f3f6e2;
}

footer ul 
{
  list-style-type: none;
  vertical-align: middle;
  margin: auto;
  padding: 0;
}

footer ul li 
{
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 720px) 
{
 .flex 
 {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
 }
  
 .flex:first-of-type
 {
   background-image:linear-gradient(#358242,#1c4022,#232323);
 }
  
.flex:nth-child(odd)
 {
   background:#232323;
   clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
 }
  
 .flex:nth-child(3)
 {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
   color:green;
 }

 header 
 {
    min-height: 450px;
 }

 .nav 
 {
    max-width: 1500px;
 }

 .nav .name 
 {
    display: block;
    margin-right: auto;
    color: white;
 }

 main 
 {
    padding: 30px;
 }

 main p 
 {
    line-height: 1.6em;
 }

 footer 
 {
    font-size: 1.3em;
    max-width: 100%;
    margin: 40px auto;
 }
  
  footer ul
  {
     list-style-type: none;
     vertical-align: middle;
     margin: auto;
     padding: 0;
  }
}

