
h1
{
 color:blue; 
}

#scroller_bar
{
    width:100px;
    height:20px;
    background-color:green;
}

#scroller_item
{
    border-radius: 50%;
    width:30px;
    height:30px;
    margin-left:35px;
    background-color:red;
}
