$pixel-width: 10;

$colors: (
  "b": #000,
  "g": #eee,
  "p": #ff69b4,
  "r": #ff1e28,
  "t": transparent,
  "w": #fff
);

body {
  background-color: #808080;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 0 2px 0 #000;
  color: #fff;
  text-align: center;
}

#ghost {
  width: #{$pixel-width*16}px;
  height: #{$pixel-width*16}px;
  position: relative;
  top: 0;
  left: 0;
  animation: float 10s infinite, wobble 2s infinite;

  .hidden {
    display: none;
  }

  .hidden, .visible {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .pixel {
      width: #{$pixel-width}px;
      height: #{$pixel-width}px;
      float: left;
    }

    @each $class, $color in $colors {
      .#{$class} {
        background-color: $color;
      }
    }
  }

  &:hover {
    animation-play-state: paused;

    .hidden {
      display: block;
    }
    .visible {
      display: none;
    }
  }
}

@keyframes float {
  0% { left: 0; transform: scaleX(1)}
  48% { left: calc(100% - #{$pixel-width*16}px); transform: scaleX(1) }
  50% { transform: scaleX(-1) }
  98% { left: 0; transform: scaleX(-1) }
}

@keyframes wobble {
  0% { top: 0; }
  50% { top: -50px; }
  100% { top: 0; }
}
